html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 1.45;
}
.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.demo-layout .demo-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.demo-layout .demo-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.demo-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777; 
  /*rgba(255, 255, 255, 0.56);*/
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  /*background-color: #00BCD4;*/
  background-color: #fff;
  color: #57C3B6;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover i {
  color: #57C3B6 !important;  
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: #777 !important;
  /*rgba(255, 255, 255, 0.56);*/
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}

.demo-charts {
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
.demo-chart:nth-child(1) {
  color: #ACEC00;
}
.demo-chart:nth-child(2) {
  color: #00BBD6;
}
.demo-chart:nth-child(3) {
  color: #BA65C9;
}
.demo-chart:nth-child(4) {
  color: #EF3C79;
}
.demo-graphs {
  padding: 16px 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}
/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}
.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.demo-cards .demo-separator {
  height: 32px;
}
.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  /*background-image: url('images/dog.png');*/
  background-image: url('https://lh6.googleusercontent.com/proxy/p1HrEeeWdoXtrK4HBWXrwLzPaa7acUwPaBd3w5ZGApRf5O3K7GEazELeTowTrFustKVsYt4PF1z77pVEs_ikLpD2SXDj_ss=w408-h272');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.demo-options ul {
  margin: 0;
  list-style-type: none;
}
.demo-options li {
  margin: 4px 0;
}
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}


/* CUSTOM */


.brand img {
  width: 80%;
  height: auto;
}
.demo-navigation {  
  border-top: 1px solid #d9d9d9;
}
.mdl-color--blue-grey-800, .mdl-color--blue-grey-900 {
  background-color: #fff !important;
}

@media (min-width: 1025px) { 
  .mdl-layout__drawer {
    width: 320px;
  }
.mdl-layout--fixed-drawer>.mdl-layout__content {
  margin-left: 320px;
}
.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
  margin-left: 320px;
  width: calc(100% - 320px);
}
}


.mdl-color--grey-100 {
  
  background: rgba(0,0,0,0) !important;
}
.mdl-layout__header {
  box-shadow: none !important;  
  background: rgba(0,0,0,0) !important;
}
.demo-filters {
  padding: 0 40px;
  display: none;
}

select {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.label-filters {
  font-size: 13px;
  color: #777;
}


.demo-updates {
  position: absolute;
  right: 0;
  top: 0;
  width: 408px;
  max-width: 100%;
  height: 100%;
  z-index: 2;
}
.demo-info {
  display: none;
}

.demo-layout .demo-navigation .mdl-navigation__link.active {
  background-color: #fff !important;
  color: #57C3B6 !important;
}
.demo-layout .demo-navigation .mdl-navigation__link.active i {
  color: #57C3B6 !important;  
}

.mdl-card--expand {
  flex-grow: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1; 
}
.demo-card__title {
  padding: 16px;
  min-height: 80px;
/*  height: auto;*/
  overflow: scroll;
  color: #fff;
}
.demo-card__title h1 {
  font-size: 18px;
  margin: 1em 0 0;
}
.demo-card__title h2 {
  font-size: 14px;
  margin: .5em 0 0;
  line-height: 20px;
}
.mdl-card__supporting-text {
  flex-grow: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
  overflow: scroll;
  font-size: 14px;
}
.mdl-card__supporting-text h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 6px;
}
.mdl-card__actions .mdl-button {
  display: block;
  /*text-align: left;*/
}
.mdl-textfield__input {
  color: #777;
}
.mdl-textfield__input, .mdl-textfield__label {
  font-size: 14px;
}

.fromto-filters .fromto-item {
  display: inline-block;
  width: 45%;
  margin-top: -0.8em;
}
.fromto-filters .fromto-item:last-child {
  float: right;
}

/* ==========  Select Field Variables ========== */
/* ==========  Select Field ========== */
/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 4px 0;
  font-size: 14px;
  color: #777;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
select:focus {
  outline: none;
}

/* Hide label */
.mdl-selectfield label {
  display: none;
}

/* Use custom arrow */
.mdl-selectfield select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
  padding-bottom: 20px;
}
.mdl-selectfield:after {
  position: absolute;
  top: 0.75em;
  right: 0.5em;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: 0.375em solid rgba(0,0,0, 0.12);
  pointer-events: none;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.menu a.active{
  color:#c93428
}